<!DOCTYPE html>
<html dir="ltr" lang="en" mode="ios">
  <head>
    <meta charset="utf-8" />
    <title>Pyrite Editor</title>

    <meta
      name="viewport"
      content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="description" content="Pickled Yoda Reads TIE files" />

    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Pyrite Editor" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <meta http-equiv="x-ua-compatible" content="IE=Edge" />

    <script type="module" src="/build/pyrite.esm.js"></script>
    <script nomodule src="/build/pyrite.js"></script>

    <link rel="stylesheet" href="/assets/bulma.css" />
    <link href="/build/pyrite.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icon/apple-touch-icon.png" />
    <link rel="icon" type="image/x-icon" href="/assets/icon/favicon.ico" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  </head>

  <body style="padding: 1rem;">
    <!-- <p>ehtc-pilot</p>
    <div style="display: flex; justify-content: space-between;">
      <ehtc-pilot pin="9555" class="small fchg"></ehtc-pilot>
      <ehtc-pilot pin="9555" class="rank" style="margin-left: 1rem;"></ehtc-pilot>
    </div> -->
    <!-- <p>ehtc-battle-center</p> -->
    <!-- <ehtc-battle-center></ehtc-battle-center> -->
    <!-- <p>pilot file viewer</p> -->
    <pyrite-pilot-file
      bsf="https://localhost/api/battle/XvT/TC/77"
      file="/assets/genie.tfr"
      style="width: 600px;"
    ></pyrite-pilot-file>
    <!-- <h5 class="title">Briefing</h5> -->
    <pyrite-tie-mission file="/assets/D44Task/TASK4.TIE"></pyrite-tie-mission>
  </body>
</html>
