<!DOCTYPE html>
<html dir="ltr" lang="en" mode="ios">
  <head>
    <meta charset="utf-8" />
    <title>Pyrite Editor</title>

    <meta
      name="viewport"
      content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="description" content="Pickled Yoda Reads TIE files" />

    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Pyrite Editor" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <meta http-equiv="x-ua-compatible" content="IE=Edge" />

    <script type="module" src="/build/pyrite.esm.js"></script>
    <script nomodule src="/build/pyrite.js"></script>

    <link rel="stylesheet" href="/assets/bulmatc.css" />
    <link href="/build/pyrite.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icon/apple-touch-icon.png" />
    <link rel="icon" type="image/x-icon" href="/assets/icon/favicon.ico" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  </head>
  <bodyy style="padding: 1rem;">
    <section class="section">
      <div class="container">
        <div class="box">
          <!-- <form action="/">
            <ehtc-member-select domain="https://localhost" name="pin"  value="9555" mode="pilot"></ehtc-member-select>
            <ehtc-member-select domain="https://localhost" name="characterId"  value="" filter="108,110,111,116"></ehtc-member-select>
            <ehtc-battle-select domain="https://localhost" name="battleId"></ehtc-battle-select>
          <span onclick="console.log(Array.from(new FormData(document.querySelector('form')).entries()))">XXX</span>
          </form> -->

          <p>x-wing</p>
          <pyrite-mission-wrapper file="/assets/XWTC1/Waistem.XWI">
            <pyrite-xw-mission></pyrite-xw-mission>
          </pyrite-mission-wrapper>

          <pyrite-mission-wrapper file="/assets/TIETC1/B1M1FM.TIE">
            <pyrite-tie-mission></pyrite-tie-mission>
          </pyrite-mission-wrapper>

          <pyrite-mission-wrapper file="/assets/XvTTC1/B77M1XVT.TIE">
            <!-- <pyrite-xvt-mission></pyrite-xvt-mission> -->
          </pyrite-mission-wrapper>

          <pyrite-mission-wrapper file="/assets/BoPTC1/CRUCOMP1.TIE">
            <!-- <pyrite-xvt-mission></pyrite-xvt-mission> -->
          </pyrite-mission-wrapper>

          <pyrite-mission-wrapper file="/assets/XWATC1/1b8m1g.tie">
            <!-- <pyrite-xvt-mission></pyrite-xvt-mission> -->
          </pyrite-mission-wrapper>

          <!-- <h5 class='title'>LFD</h5> -->
          <!-- <p>Zip</p> -->
          <!-- <pyrite-lfd file="/assets/data/zip/Battle5.lfd"></pyrite-lfd> -->
<!-- <p>=====EhM====</p> -->
<!-- <hr /> -->
          <!-- <pyrite-lfd file="/assets/data/ehm/Battle5.lfd"></pyrite-lfd> -->

          <!-- <p>ehtc-pilot</p>
    <div style="display: flex; justify-content: space-between;">
      <ehtc-pilot pin="9555" class="small fchg"></ehtc-pilot>
      <ehtc-pilot pin="9555" class="rank" style="margin-left: 1rem;"></ehtc-pilot>
    </div> -->
    <!-- <p>ehtc-battle-center</p> -->
    <!-- <ehtc-battle-center></ehtc-battle-center> -->

    <p>pilot file viewer</p>
    <pyrite-pilot-file
      bsf="https://localhost/api/battle/XW/TC/1"
      file="/assets/YTC1.plt"
      style="width: 600px;"
    ></pyrite-pilot-file>

    <!-- <h5 class="title">Briefing</h5> -->
    <!-- <pyrite-tie-mission file="/assets/Option3.tie"></pyrite-tie-mission> -->
        </div>
      </div>
    </section>    
  </body>
</html>
