<!DOCTYPE html>
<html dir="ltr" lang="en" mode="ios">
  <head>
    <meta charset="utf-8" />
    <title>Pyrite Editor</title>

    <meta
      name="viewport"
      content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="description" content="Pickled Yoda Reads TIE files" />

    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Pyrite Editor" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <meta http-equiv="x-ua-compatible" content="IE=Edge" />

    <script type="module" src="build/pyrite.esm.js"></script>
    <script nomodule src="build/pyrite.js"></script>

    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="assets/bulmatc.css" />
    <link href="build/pyrite.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="assets/icon/apple-touch-icon.png" />
    <link rel="icon" type="image/x-icon" href="assets/icon/favicon.ico" />
    <link rel="manifest" href="manifest.json" />
  </head>
  <body style="padding: 1rem;">
    <section class="section">
      <div class="container">
        <div class="box">
          <!-- <pyrite-lfd file="/assets/xw-in-tf/VOICE/1M1/1M1.LFD"></pyrite-lfd> -->
          <pyrite-tie-checklist
            mission-url="/assets/xw-in-tf/MISSION/XWT1M1.tie"
            lfd-url="/assets/xw-in-tf/VOICE/1M1/1M1.LFD"
          ></pyrite-tie-checklist>
        </div>
      </div>
    </section>
  </body>
</html>
